[2015-09-09 22:23] gr2m opened #1 "Add comments for auto-generated API docs"
Before a new version of account-client gets released, docs are generated automatically from source code, which currently looks like this:

To make it look better, take https://github.com/hoodiehq/pouchdb-hoodie-api as example. We need to add [JSDoc Comments](http://usejsdoc.org/) like these: https://github.com/hoodiehq/pouchdb-hoodie-api/blob/master/find-or-add.js#L8-L16

[2015-09-10 09:27] Charlotteis commented on #1
I think you forgot to copy/paste the example? :)

[2015-09-10 12:16] gr2m commented on #1
@Charlotteis the example is this part here:

[code]

It's a special format of JavaScript comments, that follows the conventions of JSDoc. The basic idea is: keep your code & documentation together, to help keeping your docs & sync in place. It's very interesting and I think http://usejsdoc.org/ is worth checking out.

If you like to play with it, add some comments, then run `npm run docs` locally,

[2015-09-11 08:26] Charlotteis commented on #1
Cheers!

[2015-11-14 06:54] gr2m opened #3 "Implement JSON API"
We broke all the routes: https://github.com/hoodiehq/hapi-couchdb-account-api

It's now all JSON API, following the specification at http://docs.accountrestapi.apiary.io

We need to adapt the tests & implementation of the client accordingly

[2015-11-17 14:25] gr2m opened #7 "implement accountAdmin.accounts.* APIs"
- [x] [admin.accounts.add](https://github.com/hoodiehq/hoodie-client-account/tree/master/admin/#adminaccountsadd)
- [x] [admin.accounts.find](https://github.com/hoodiehq/hoodie-client-account/tree/master/admin/#adminaccountsfind)
- [x] [admin.accounts.findAll](https://github.com/hoodiehq/hoodie-client-account/tree/master/admin/#adminaccountsfindAll)
- [x] [admin.accounts.update](https://github.com

[2015-11-17 14:29] gr2m opened #8 "Implement admin requests API"

[2015-11-17 14:30] gr2m opened #9 "implement profile API"

[2015-11-17 14:43] gr2m commented on #3
I made separate issues for it

[2015-11-17 14:50] #3 closed

[2015-11-17 22:48] gr2m opened #10 "Try to add browser tests back in"
follow up for https://github.com/hoodiehq/hoodie-client-account/pull/6

maybe nock can to this today, otherwise we can try http://sinonjs.org/docs/#server

[2015-11-18 08:35] Charlotteis commented on #10
The browsers that we had been testing in before:
[code]

Lets try and get IE in there too for this PR, if possible?

[2015-11-18 16:30] gr2m commented on #10
fyi we now have a zentral repository where we define all browsers that we want to support with Hoodie in general: https://github.com/hoodiehq/hoodie-zuul-config

Browsers are defined here: https://github.com/hoodiehq/hoodie-zuul-config/blob/master/index.js#L20-L51. They are not set in stone :) Good thing is, we know only have to change it in one place, and thanks to greenkeeper, we will know if it

[2015-11-20 21:06] gr2m opened #11 "Implement account.signUp with profile: {...} option"

[2015-11-22 06:14] #9 closed

[2015-11-22 07:21] gr2m opened #12 "Implement account.request"
[code]

Examples

[code]

[2015-11-23 05:32] gr2m opened #13 "Add tests for account.get & account.profile.get when not signed in"
If user is not signed in, `account.get()` should return undefined. So should `account.profile.get()`. I _think_ this is already the case, but we don’t have a test for that yet.

Tests need to be added to https://github.com/hoodiehq/hoodie-client-account/blob/master/tests/specs/get.js & https://github.com/hoodiehq/hoodie-client-account/blob/master/tests/specs/get-profile.js. Pass in `{}` as state,

[2015-11-23 05:46] gr2m opened #14 "Implement account.validate() method"
The idea is that by default, `account.validate()` always resolves. A custom validation method can be passed as `options.validate` to the `Account` constructor.

[2015-11-23 06:13] ianstalter123 commented on #13
I'll work on this one thx

[2015-11-23 16:34] HipsterBrown commented on #14
`validate` is currently set to the internal state of `Account` ([Reference](https://github.com/hoodiehq/hoodie-client-account/blob/master/index.js#L16)).

It needs to be exposed to the public API through the returned object in the constructor, https://github.com/hoodiehq/hoodie-client-account/blob/master/index.js#L21-L33 .

[2015-11-23 17:59] gr2m opened #17 "Implement account.on / account.one / account.off methods"
similar to what we done here: https://github.com/hoodiehq/hoodie-client/issues/14, but without the .trigger method, because there is currently no use case for it

[2015-11-24 23:56] gr2m opened #18 "account.fetch() fails if not signed in"
We assume that `state.session` is an object here: https://github.com/hoodiehq/hoodie-client-account/blob/master/lib/fetch.js#L14

But when signed out, `state.session` is undefined

[2015-11-25 14:01] gr2m commented on #13
fixed via #16

[2015-11-25 14:01] #13 closed

[2015-11-25 18:06] gr2m opened #19 "Implement accountAdmin.sessions.add(options)"
Find docs here: [admin.sessions.add(options)](https://github.com/hoodiehq/hoodie-client-account/tree/master/admin/#adminsessionsadd)

---

- [x] claim this issue (@ransomw)
- [x] Add an integration `admin-sessions-test.js` here: https://github.com/hoodiehq/hoodie-client-account/tree/master/test/integration with a test for `admin.sessions.add(options)`
- [x] Implement `sessions.add` method
- [x] up

[2015-11-25 18:08] ianstalter123 commented on #18
Trying to understand how sessions work after logout here -- does get-session.js , need to be called or something similar in fetch.js?

[2015-11-25 18:24] gr2m commented on #18
in `account.signOut`, we clear the session here: https://github.com/hoodiehq/hoodie-client-account/blob/master/lib/signout.js#L20, which removes `state.session` so it becomes undefined here: https://github.com/hoodiehq/hoodie-client-account/blob/master/helpers/clear-session.js#L7

In fetch.js, we always assume that `state.session` is an object here: https://github.com/hoodiehq/hoodie-client-accoun

[2015-11-25 18:50] ianstalter123 commented on #18
Thanks for the explanation! So if I understand this issue should involve the error related calling fetch() when not authenticated.

[2015-11-25 18:53] gr2m commented on #18
yes

[2015-11-25 22:59] gr2m opened #20 "Implement accountAdmin.account(idOrObject).* APIs"
- [ ] [admin.account()](https://github.com/hoodiehq/hoodie-client-account/tree/master/admin/#adminaccount)
- [ ] [admin.account().profile.find()](https://github.com/hoodiehq/hoodie-client-account/tree/master/admin/#adminaccountprofilefind)
- [ ] [admin.account().profile.update()](https://github.com/hoodiehq/hoodie-client-account/tree/master/admin/#adminaccountprofileupdate)
- [ ] [admin.account().

[2015-11-25 23:46] gr2m opened #21 "Implement accountAdmin events"
### Methods

- [ ] `admin.on()`
- [ ] `admin.one()`
- [ ] `admin.off()`
- [ ] `admin.sessions.on()`
- [ ] `admin.sessions.one()`
- [ ] `admin.sessions.off()`
- [ ] `admin.accounts.on()`
- [ ] `admin.accounts.one()`
- [ ] `admin.accounts.off()`
- [ ] `admin.requests.on()`
- [ ] `admin.requests.one()`
- [ ] `admin.requests.off()`

### Events

for `admin`

- [ ] `signin`
- [ ] `signout`
- [ ] `unauth

[2015-11-26 03:33] gr2m opened #23 "make localStorage key name for caching session state configurable"
currently we store the user session in `_session`, it’s hardcoded [here](https://github.com/hoodiehq/hoodie-client-account/blob/4f211b23745bee6d732cb5cea99f5f4c5f7b6e06/helpers/clear-session.js#L6) & [here](https://github.com/hoodiehq/hoodie-client-account/blob/4f211b23745bee6d732cb5cea99f5f4c5f7b6e06/helpers/get-session.js#L7) & [here](https://github.com/hoodiehq/hoodie-client-account/blob/4f211b

[2015-11-26 04:03] gr2m opened #25 "Implement account.username"
As described in https://github.com/hoodiehq/hoodie-client-account#accountusername

See how `hoodie.id` is [implemented in hoodie-client](https://github.com/hoodiehq/hoodie-client/blob/master/index.js#L16-L18) for comparison

- [x] start a pull request
- [x] write tests for `account.username`
- [x] implement `account.username`
- [x] write tests for `admin.username`
- [x] implement `admin.username`

[2015-11-26 05:43] gr2m opened #26 "account.signIn() to resolve with {id, account}, but resolves with {id, username}"
[code]

currently resolves iwth

[code]

But should resolve with

[code]

As showin in the README: https://github.com/hoodiehq/hoodie-client-account#accountsignin

I guess the way we serialise at the moment is not up to date with the latest spec, so other methods / tests might be needed to be adapted as well

- [ ] start PR
- [ ] fix test https://github.com/hoodiehq/hoodie-client-account/blob/mast

[2015-11-26 05:51] gr2m opened #27 "account.signIn() sends request, even if username / password is not est"
in the signIn method, we miss a `return` here:
https://github.com/hoodiehq/hoodie-client-account/blob/master/lib/signin.js#L11

At the moment the code execution is continued and the request to the server is sent, even when username & password is not passed.

Tricky one to test, but would be good if we could add that, too.

[2015-11-26 16:15] #23 closed

[2015-11-26 16:34] gr2m commented on #27
same here:
https://github.com/hoodiehq/hoodie-client-account/blob/master/lib/update-profile.js#L10

[2015-11-26 20:56] gr2m commented on #27
fixed via https://github.com/eHealthAfrica/hoodie-client-account/commit/ecbf12b1bca907c03946675e28b2c32cfcd2a497

[2015-11-26 20:56] #27 closed

[2015-11-28 20:10] gr2m opened #30 "implement accountAdmin.accounts.updateAll()"
follow up for #7

`accountAdmin.accounts.updateAll()` is a bit tricky, because at this point, our [JSON API](http://docs.accountjsonapi.apiary.io/#) has no way to update multiple resources at once, so the only way to implement this would by sending a separate `PATCH` request for each account. Which is doable, I'd prefer to think about how to provide a REST API for it. The [JSON API Bulk Extension]

[2015-11-28 20:10] gr2m opened #31 "implement accountAdmin.accounts.removeAll()"
follow up for #7

`accountAdmin.accounts.updateAll()` is a bit tricky, because at this point, our [JSON API](http://docs.accountjsonapi.apiary.io/#) has no way to update multiple resources at once, so the only way to implement this would by sending a separate `DELETE` request for each account. Which is doable, I'd prefer to think about how to provide a REST API for it. The [JSON API Bulk Extension

[2015-11-28 20:18] #7 closed

[2015-11-28 20:27] gr2m commented on #25
I'll take this one as I need it for a project by Sunday

[2015-11-28 21:58] #25 closed

[2015-11-28 22:33] gr2m opened #33 "Add options.id to constructor"
We need support a client-generated ID for our account for Hoodie, as the account ID will be set to `hoodie.id`, and `hoodie.id` gets generated upon first initialisation. JSON API [explicitly supports client-generated resource IDs](http://jsonapi.org/format/#crud-creating-client-ids)

So what we want is this

[code]

to send this request

[code]

[2015-11-29 08:50] gr2m opened #35 "Iimplement unauthenticate / reauthenticate events"
e.g. if a user tries to update profile, but the server responds with 403

[2015-11-29 08:54] #17 closed

[2015-11-29 23:23] gr2m opened #39 "request util does not reject for 4xx responses"
e.g. if I try to `account.signIn(options)` I get the `Error: Please include a JSON API response to deserialise` error

[2015-11-30 01:14] #39 closed

[2015-12-11 20:01] gr2m commented on #18
@ianstalter123 are you working on this one?

[2015-12-11 20:03] ianstalter123 commented on #18
Hey yes will try to do by tonight / send a pull request

Sent from my iPhone

[2015-12-11 20:21] ianstalter123 commented on #18
@gr2m
You want the error checking to be added to https://github.com/hoodiehq/hoodie-client-account/blob/master/lib/fetch.js#L14 right?

[2015-12-11 20:36] gr2m commented on #12
@HipsterBrown I need this one for eHealth, so I'm going to work on this, ok?

[2015-12-11 21:00] gr2m commented on #18
Yeah I’d suggest even before the `internals.fetchProperties` call, check if `state.session` is set. And if it’s not, return a rejected Promise, similar to what we do here maybe? https://github.com/hoodiehq/hoodie-client-account/blob/master/lib/sign-in.js#L14

[2015-12-11 22:38] HipsterBrown commented on #12
Ok I can do some review if you'd like.

[2015-12-11 22:40] gr2m commented on #12
go for it sir :)

[2015-12-12 06:54] ianstalter123 commented on #18
pull request sent

2015-12-11 13:00 GMT-08:00 Gregor Martynus <notifications@github.com>:

[2015-12-13 16:17] #12 closed

[2015-12-13 21:28] #14 closed

[2015-12-13 23:36] gr2m commented on #18
done via e577566 & 4cb4e8c :ok_hand:

[2015-12-13 23:36] #18 closed

[2015-12-16 12:44] andru commented on #26
Was going to pick this one up but looks like it's already done?

I'm seeing test `successful account.signIn(options)` at https://github.com/hoodiehq/hoodie-client-account/blob/master/tests/unit/sign-in-test.js#L38 passes fine.

Should this be closed or am I misunderstanding the task?

[2015-12-16 14:47] gr2m commented on #26
yeah the test is wrong. `signIn` should not resolve with `accountProperties`, but with `sessionProperties`. Meaning that `accountProperties.id` should be `sessionProperties.account.id` and `accountProperties.username` should be `sessionProperties.account.username`.

Sorry this is really confusing. But does it make sense now?

[2015-12-16 16:27] andru commented on #26
Ok that's clear. I'll leave this for now, but I can pick it up when I'm done with https://github.com/hoodiehq/hoodie-client/pull/33

[2015-12-25 13:48] gr2m commented on #26
closed via
https://github.com/hoodiehq/hoodie-client-account/issues/44

[2015-12-25 13:48] #26 closed

[2015-12-26 03:50] gr2m opened #49 "semantic-release fails to create tags / releases / changelog"
https://travis-ci.org/hoodiehq/hoodie-client-account#L833 @boennemann

[2016-01-07 14:19] gr2m commented on #33
closed via #45

[2016-01-07 14:19] #33 closed

[2016-01-08 17:27] gr2m commented on #49
ping @boennemann. Could you have a quick look? If it’s not obvious we can look into it later

[2016-01-10 12:01] gr2m opened #50 "account.signOut() does not resolve with account properties"
This is what we want

[code]

---

- [x] claim this issue (@mxstbr)
- [x] start a pull request (https://github.com/hoodiehq/hoodie-client-account/pull/51)
- [ ] [uncomment failing test](https://github.com/hoodiehq/hoodie-client-account/blob/042b024308ced5a330d6c67e81693744e4aa732d/test/integration/sign-in-test.js#L62-L63) and set `t.plan(10)` to `t.plan(11)`. Test should fail now
- [ ] fix the iss

[2016-01-10 12:48] mxstbr commented on #50
Would love to take a crack at this!

[2016-01-10 13:01] gr2m commented on #50
All yours :+1:

[2016-01-10 14:43] #50 closed

[2016-01-10 15:32] gr2m opened #52 "implement account.update()"
Only `username` and `password` can be changed at this point, and only the valid session is required for authorization at this point.

---

- [x] claim this issue (@finnp)
- [x] update the [README](https://github.com/hoodiehq/hoodie-client-account#api): add `account.update` (it is similar to [account.profile.update](https://github.com/hoodiehq/hoodie-client-account#accountprofileupdate) for now)
-

[2016-01-10 15:48] gr2m opened #53 "Implement account.destroy()"
Only the valid session is required for authorization at this point.

---

- [x] claim this issue (@janpawellek)
- [x] update the [README](https://github.com/hoodiehq/hoodie-client-account#api): add `account.destroy` (it is similar to [account.signOut](https://github.com/hoodiehq/hoodie-client-account#accountsignout) for now)
- [x] start a PR #68
- [x] add unit & integration test. In the latter, ma

[2016-01-10 16:06] gr2m opened #54 "hoodie.account.fetch(), .update(), .profile.fetch() and .profile.update() should fail with UnauthenticatedError if session is invalid, but currently fails with "Not FoundError""
To simulate an unauthenticated state, replace `session.id` in `localStorage.account` with a bogus value, then reload the page and do `account.fetch()`

---

- [x] claim this issue (@realtin)
- [x] start a PR (#62)
- [x] add unit and integration tests for `account.fetch()`. In the latter, make sure that an "unauthenticate" event gets triggered
- [ ] fix account.fetch()
- [ ] repeat steps for `accou

[2016-01-10 16:15] gr2m opened #55 "README: add link account.isSignedIn to API list"
[account.isSignedIn](https://github.com/hoodiehq/hoodie-client-account#accountissignedin) is document, but not listed in https://github.com/hoodiehq/hoodie-client-account#api

---

- [x] claim this issue (comment below or assign yourself)
- [x] start a PR
- [x] add the link to the README
- [x] review & merge
- [ ] update https://github.com/gr2m/milestones/issues/88

[2016-01-10 16:21] gr2m opened #56 "Implement account.hasInvalidSession()"
If a session gets invalidated, "unauthenticate" events get triggered, for example when `account.fetch()` is called. Once unauthenticated, `account.isUnauthenticated` shall return true, otherwise false. The unauthenticate state shall also be persisted in localStorage.

`account.signIn` with the same username creates a new valid session and emits the `reauthenticate` event

---

- [x] claim this iss

[2016-01-10 16:29] gr2m opened #57 "account.signIn() to emit `reauthenticate` event when unauthenticated"
depends on #56

If `account.isUnauthenticated()` returns `true` and the user signs in with the same username, then an `reauthenticate` event should be triggered (instead of `signin`)

---

- [x] claim this issue (@espy)
- [x] start a PR (#60)
- [x] add unit and integration tests. Integration tests can be added [here](https://github.com/hoodiehq/hoodie-client-account/blob/master/test/integration/ev

[2016-01-10 16:30] gr2m commented on #35
closing in favor of https://github.com/hoodiehq/hoodie-client-account/issues/56 & https://github.com/hoodiehq/hoodie-client-account/issues/57

[2016-01-10 16:30] #35 closed

[2016-01-10 17:58] Guria commented on #56
Shouldn't it be vice versa?

[2016-01-10 18:00] gr2m commented on #56
yessir :+1: fixed it in the issue description. Thanks @Guria

[2016-01-10 22:37] Charlotteis commented on #55
I did this one, hope you don't mind. #58

[2016-01-10 22:38] #55 closed

[2016-01-10 22:40] gr2m commented on #55
Not at all :) Let me know if you want to take on any of the other issues, happy to coach you if you like

[2016-01-10 22:42] Charlotteis commented on #55
Thanks! I need to take a look at the starter issues one day soon :)

[2016-01-16 23:55] florida commented on #1
I'd love to take a look this one @Charlotteis !

[2016-01-17 11:10] Realtin commented on #54
I'll try this one!

[2016-01-17 12:43] boennemann commented on #49
Not sure if this is still relevant? Unfortunately the link doesn't point to a specific build.

[2016-01-17 14:55] espy commented on #57
PR is ready for review!

[2016-01-17 15:04] #57 closed

[2016-01-17 15:06] espy commented on #57
That was very cool :)

[2016-01-17 15:14] finnp commented on #52
I'm going to have a look at this.

[2016-01-17 15:25] gr2m commented on #49
yes, last git release is 1.9.1:
https://github.com/hoodiehq/hoodie-client-account/releases

last npm version is 2.2.0

[code]

Something is funky, I don’t know what it is, could you have a look?

[2016-01-17 15:35] gr2m commented on #52
nice, all yours :+1:

[2016-01-17 16:21] Realtin opened #61 "getState does not set a fallback url"
When reproducing the Error from #54 a GET Request to `http://127.0.0.1:8080/undefined/session/account` is send.

setting an empty String as a fallback in utils/get-state.js  should fix that.

[2016-01-17 16:47] gr2m commented on #61
it’s using `state.baseUrl` in fetch.js and profile-fetch.js, but we never set that. It should use `state.url` instead

[2016-01-19 11:39] gr2m commented on #52
done via 63

[2016-01-19 11:39] #52 closed

[2016-01-21 20:37] gr2m commented on #61
@Realtin do you want to fix it? If not I can make a stater issue for others out of this :)

[2016-01-22 11:17] Realtin commented on #61
I started with this but since I'm a bit busy right now you can just make it a starter issue and if nobody wants it then I'll try again :)

[2016-01-22 11:26] gr2m commented on #61
perfect :+1:

[2016-01-22 16:38] toh82 opened #64 "use `state.url` instead of `state.baseUrl` in fetch.js and profile-fetch.js"
Reported in: https://github.com/hoodiehq/hoodie-client-account/issues/61#
When reproducing the Error from #54 a GET Request to `http://127.0.0.1:8080/undefined/session/account` is send.

Fix that by using `state.url` instead of `state.baseUrl`

-------
- [x] claim this issue (@Endi1)
- [x] start a PR
- [x] uncomment integration test `test/integration/fetch-url-test.js`
- [x] fix `state.baseUrl` in

[2016-01-22 16:39] toh82 commented on #61
closing in favor of #64

[2016-01-22 16:39] #61 closed

[2016-01-22 18:47] Charlotteis commented on #64
Ohai @toh82 thanks so much for this great issue!

[2016-01-22 23:58] Endi1 commented on #64
Can I give this a try?

[2016-01-23 00:04] gr2m commented on #64
@Endi1 sure. @toh82 wanted to prepare the integration test tomorrow, but if you feel confident you can go ahead :)

[2016-01-23 00:08] Endi1 commented on #64
Thanks, I'll submit a PR by tomorrow :)

[2016-01-23 02:48] gr2m opened #65 "hooks for signin & signout"
follow up for discussion at https://github.com/hoodiehq/hoodie-client/issues/42#issuecomment-169656334. It’s worth reading to get some background what we try to achieve and why.

so what we want is this

[code]

@danreeves came up with the idea and made a reference implementation of `hooks` option here:
https://github.com/hoodiehq/hoodie-client/compare/master...danreeves:hoodie-reset

---

- [x] c

[2016-01-24 10:19] toh82 opened #66 "Bring code coverage to 100%"
current status: [![Coverage Status](https://coveralls.io/repos/github/hoodiehq/hoodie-client-account/badge.svg?branch=master)](https://coveralls.io/github/hoodiehq/hoodie-client-account?branch=master)
[code]

---
- [x] claim this issue (@chrifpa)
- [x] setup the repo locally and make sure that all tests pass when you run `npm test`
- [x] get a coverage report by running `npm run test:coverage`. Th

[2016-01-24 10:32] toh82 commented on #64
Hey @Endi1 great that you took this issue, do you need any Information on this topic?
If I should prepare the tests for you, let me know.

[2016-01-24 12:34] Endi1 commented on #64
Hey @toh82 I'll try to write the tests too, but if I get stuck I'll be sure to ask you. Thanks!

[2016-01-24 18:33] Endi1 commented on #64
@toh82 I have been slamming my head against the wall the whole afternoon and I can't seem to get this to work. Maybe if you prepare the tests then I'll have a better chance :)

[2016-01-24 20:04] gr2m commented on #64
@Endi1oh no, so sorry to hear that! Hang in there, we’ll help you get trough this :)

[2016-01-26 19:54] gr2m commented on #64
@toh82 can you prepare the tests for Endi? You can send them in a separate PR, comment them out with a reference to this issue in a comment

[2016-01-26 21:14] #53 closed

[2016-01-26 22:40] toh82 commented on #64
@gr2m @Endi1 I'm currently on #56 and my time this week is hardly limited :(
sorry about that, I guess I can start to work on this tests at Friday evening.

[2016-01-26 22:49] Endi1 commented on #64
@toh82 sounds good :)

[2016-01-26 22:55] gr2m commented on #64
Thanks Tobias!

[2016-01-27 11:13] gr2m opened #69 "trigger "update" event when account.update succeeds"
[account.update(options)](https://github.com/hoodiehq/hoodie-client-account#accountupdate) is implemented, but does not yet emit an `update` event.

---

- [x] claim this issue (comment below or assign yourself) (@hipsterbrown)
- [x] add `update` event to [README](https://github.com/hoodiehq/hoodie-client-account#events). Commit it with `docs(README): update event`
- [x] start a PR
- [x] update un

[2016-01-27 11:22] gr2m opened #70 "renew session after changing username / password"
[account.update(options)](https://github.com/hoodiehq/hoodie-client-account#accountupdate) is implemented, but the problem is that once the username and/or password changes, the session ID gets invalidated.

So what we need is to renew the session with the new username / password by doing a `PUT /session` request, but without triggering any extra events.

---

- [x] claim this issue (@nickcolley)

[2016-01-28 19:45] #69 closed

[2016-01-28 20:04] gr2m commented on #49
works again :v:

[2016-01-28 20:04] #49 closed

[2016-01-30 18:22] toh82 commented on #64
Hello @Endi1 i started a the PR and added branch `issue-64-use-stateurl`
you can see the test in the referenced PR no worries that the test currently fails, it has to since the `baseUrl` isn't fixed.

If you have further questions let me know.

[2016-02-02 12:12] patriciagarcia commented on #65
I can take this one :raising_hand:

A couple of questions:
- from https://github.com/hoodiehq/hoodie-client/issues/42:

So we still need `pre` and `post` hooks, not just to intercept a signin or signout or am I missing something? "Intercept" sounds like a `pre` hook to me.

- wouldn't it be useful to allow to remove the hooks? not only add them? This is mentioned in the other issues but not anymor

[2016-02-02 19:56] gr2m commented on #65
Hmmmm that’s a tough one. I somehow thought we had this figure out but now it’s puzzling again. Ideally, we would have hooks that are always run before the event, then we could clear the store on the event itself.

So maybe we should add these hooks to special `before:signin`, `before:signout`, `before:signup` events after all? That would make the order of hooks / events more clear, too, maybe?

T

[2016-02-02 22:02] gr2m commented on #54
this is on hold as it will probably be fixed by https://github.com/hoodiehq/hoodie-client-account/issues/64

[2016-02-03 12:42] patriciagarcia commented on #65
Hey! Thanks for the comments, a couple of questions still (sorry! :grin:):

You mean that the store will be cleared by default in the event code itself, without the need of adding a hook? Otherwise, with the `before` hooks we can clear the store before the signout, the problem is that if the signout fails after all, the store would have been anyway cleared, which is weird.

I like the idea, this w

[2016-02-03 13:48] danreeves commented on #65
Hi :wave:  Makes sense to me to have pre and post events. I imagine it would work something like this?

[code]

[2016-02-03 16:21] gr2m commented on #65
Thanks @patriciagarcia & @danreeves for the feedback, this is very valuable!

I don’t think we need post hooks really. The `signout` event gets trigger when the sign out succeeded, as Patricia thought. We can use that moment to clear the store. There would be no difference to do it in a post hook, because the order is not guaranteed anyway.

I think that having the `before:*` events as a kind of c

[2016-02-03 19:31] patriciagarcia commented on #65
Ok, let's do only the pre hooks for now then! If the post hooks are needed later they should be easy to implement.

What I am thinking now is.. do we really need the extra `before:*` events? Can't we just attach the hooks to the "regular" events (signin, signout, signup)? Is any other part of the code going to subscribe to the `before:*` events?

[2016-02-03 20:53] gr2m commented on #65
the only use case that comes to my mind is where we need to sync changes in `before:signout` and clear local store afterwards. If we would put both into the same thing, and we would need to have hooks somewhere else, then it might be that it gets executed after the store is cleared, and it could mess things up. The `before:*` events sound pretty clear to me, I think we should do it that way, but m

[2016-02-04 15:03] patriciagarcia commented on #65
But if hooks are a pre step for the signout (i.e. sign out only occurs if/when the hooks Promise succeeds) and the store is cleaned on successful signout there is no such conflict, is there?

[2016-02-04 15:13] danreeves commented on #65
One problem I came across, and the reason I started playing with the hooks idea in the first place, was that the signout may be thenable before and code using the event has finished e.g.
[code]

Not sure if this is an expectation or not.

[2016-02-04 15:40] patriciagarcia commented on #65
Ah, I understand.. in that case, pre-hooks could be something that is guaranteed to happen before the actual signout occurs and (potential) post-hooks could assure that something has happened before the singout event is thrown, and before `signout` is thenable?

[2016-02-04 18:51] gr2m commented on #65
That is a very valid point :/ That means we need to have hooks in the `signout` event, too, to block the promise until the store is cleared.

So maybe we should get back to just the normal events without the `before:`, and have both `options.preHooks`  and `options.postHooks` or sth similar? `preHooks` would be run before the `signOut` event, `postHooks` would be run after the signOut event, befor

[2016-02-05 00:20] patriciagarcia commented on #65
I was thinking of that too.. I guess it's what happens everywhere when you use post hooks? (the action occurs but the whole process: action + hooks returns an error)

If any other part of the application needs to know when/if the actual signout has happened they can use the event.

Not super nice but I can't think of anything better..

[2016-02-05 01:54] gr2m commented on #65
This is getting more complicated, but good that we find that out before building it :+1:

My idea with having just the normal `signout` event won’t work, because the order the handlers are called cannot be guaranteed and a hook defined in a`signout` event handler cannot prevent other `signout` event handlers to be called. So we need the `before:signout` afterall I think, and `option.hooks` for bot

[2016-02-05 11:49] patriciagarcia commented on #65
Mm, I am lost :grin:. I think we need (if any) the `after:signout` event? It doesn't make sense to clear the store before the signout. My point is that hooks are either called before or after something (the signout for example), so adding the hooks to `before:signout` is just redundant, unless the hooks are called before the `before:signout` ;-).

I think we can make it work by having pre and afte

[2016-02-05 14:22] gr2m commented on #65
How would you implement this:

The `signout` event should only be triggered, if all local changes have been synced, and the session ended

[2016-02-05 16:46] patriciagarcia commented on #65
I think is possible by having local changes synced in a pre-hook, sign out when the hook resolve and emitting the `signout` event, when the session is cleared.

After that post hooks are executed and when they resolve, the signout promise (`hoodie.signOut().then(()`) resolves and another event (`after:signout`?) can be emitted.

Am I missing something?

[2016-02-05 19:18] gr2m commented on #65
okay, maybe I’m overthinking this, it’s probably time to implement something and go from there. So we just do a `signout` event with `options.preHooks` and `options.postHooks`, errors in `preHooks` prevent the actual sign out request and the `signout` event, `postHooks` can make the promise reject?

[2016-02-05 21:18] patriciagarcia commented on #65
Yeah, that's the plan :-)

[2016-02-05 21:18] gr2m commented on #65
okay let’s do it :+1:

[2016-02-06 00:57] toh82 commented on #64
@Endi1 Sorry for the delay, task should now be ready, if you have questions don't hesitate asking me or @gr2m

[2016-02-11 16:49] gr2m commented on #64
@Endi1 do you still want to give this a go? We are getting to a point where this becomes a blogger, if you could finish this by Monday, that’d be ace. If you have no time, no problem at all, I’m sure someone else would like to pick it up

[2016-02-15 18:46] toh82 commented on #64
this will be done with pr #72

[2016-02-15 19:18] #54 closed

[2016-02-15 19:18] #56 closed

[2016-02-15 19:18] #64 closed

[2016-02-15 19:34] #70 closed

[2016-02-15 22:07] gr2m opened #75 "account.update: set session ID from `x-set-session` response header"
follow up for https://github.com/hoodiehq/hoodie-client-account/pull/74#discussion_r52942960

Right now, we send an internal `PUT /session` request after a `PATCH /session/account` request which changed the account username and/or password.

Instead, we want the `PATCH /session/account` response to optionally include a `x-set-session` header which would include the new session id, so that it can b

[2016-02-17 01:10] gr2m commented on #65
@patriciagarcia are you still looking into this?

[2016-02-21 02:59] gr2m commented on #65
I’ll take it from here

[2016-02-21 23:15] ransomw commented on #19
i've [started](https://github.com/ransomw/hoodie-client-account/tree/e3ee3f64e596171f38322c8dc8d4b12c2c4600f8) on this.  here are some notes/questions

##### git disclaimer
before going any further, please don't be alarmed by the git history, L70-72 of `admin/index.js`, or any other sloppiness in the linked sketch.  i'm still figuring out git workflows appropriate for these tasks and erring on the

[2016-02-21 23:32] gr2m commented on #19
Weclome back @ransomw :wave: we must have missed to invite you to the HoodieHQ Contributors team, I fixed that now, you should receive an invitation :)

Could you start a pull request? That will make the discussion simpler I think. Don’t worry at all about the commits, most of the Pull Request have been a huge mess before we cleaned them up ahead of the merge, yours is totally normal in that regar

[2016-02-22 03:26] ransomw commented on #19
wow, thanks much for the quick reply!  was afk for a moment.. yah, we can move discussion to a pr thread.

[2016-02-22 05:32] gr2m commented on #65
so my current problem is that we trigger the `signin` event after the request happened, but I want to be able to define hooks that prevent the request from happening in the first place.

And even if we would do it after the request happened, I definitely expect that `account.username` has the new value in my `signin` event handlers, but in my `.preHooks`, the username should be undefined and id sh

[2016-02-22 06:06] gr2m commented on #65
Here are tests & implementation for `pre:signin` & `post:signin` events with `options.hooks`: https://github.com/hoodiehq/hoodie-client-account/pull/76/files

Looks good?

[2016-02-22 22:47] gr2m commented on #65
okay my PR is ready: https://github.com/hoodiehq/hoodie-client-account/issues/65

Would be great if anyone of you could review it @danreeves @patriciagarcia

[2016-02-23 09:01] danreeves commented on #65
lgtm :+1:

[2016-02-23 16:59] #65 closed

[2016-02-23 17:02] danreeves commented on #65
hooray :tada:

[2016-02-23 17:05] gr2m commented on #65
released with https://github.com/hoodiehq/hoodie-client-account/releases/tag/v2.7.0 :clap: thanks @patriciagarcia @danreeves

[2016-02-24 16:22] steffes commented on #75
I would like to take this issue

[2016-02-24 18:34] chrifpa commented on #66
Starting to work on it now :)

[2016-02-24 22:50] gr2m commented on #75
all yours @steffes :+1:

[2016-02-25 16:25] gr2m opened #79 "README: example for account.profile.fetch() has a bug"
follow up for https://github.com/hoodiehq/hoodie-client-account/pull/78#discussion_r54120950

[code]

should be

[code]

Please help free to turn this into a [starter issue](http://hood.ie/blog/starter-issues.html) <3 Edit my issue description directly, or create a follow up issue so we can close this one :)

[2016-02-26 08:07] steffes commented on #75
I'm looking to see what needs to be changed in [utils/request.js](https://github.com/hoodiehq/hoodie-client-account/blob/94844c3954c9d2bcc2e5d5f4e5127b01bec8f8ca/utils/request.js#L19). Right now L19 doesn't have a body parameter and is just `resolve(response)` at the end. You said it is resolving just the body but it does not have a `body` parameter like in the testcases of [nets/test.js](https://

[2016-02-26 15:05] gr2m commented on #75
You are right, maybe it changed meanwhile, it resolves with the whole `response` object now, so `response.headers` is accessible, which is great

Very good question. To be honest I don’t have a good workflow for this. I’ve seen @nathanstilwell use a cool tool where you could jump in Chrome’s dev tools to debug your node code, but can’t remember what that was again? Nathan, do you know what I mean?

[2016-02-26 18:44] nathanstilwell commented on #75
I've used [node-inspector](https://github.com/node-inspector/node-inspector) before with occasional success. I think it wires together the node debugger with a hook into the Chrome developer tools.

[2016-03-06 19:39] gr2m commented on #75
@steffes could you give us an update?

[2016-03-07 01:44] steffes commented on #75
#80

[2016-03-07 02:45] gr2m commented on #75
<img width="676" alt="screen shot 2016-03-06 at 21 44 54" src="https://cloud.githubusercontent.com/assets/39992/13559666/b2a907ba-e3e4-11e5-801d-f4bb274edcea.png">

[2016-03-13 17:44] HipsterBrown commented on #79
Closed by https://github.com/hoodiehq/hoodie-client-account/pull/81

[2016-03-13 17:44] #79 closed

[2016-03-16 16:51] ransomw opened #82 "admin.sessions.findAll filter by username"
related to #19

* update the  [admin.sessions.findAll](https://github.com/hoodiehq/hoodie-client-account/tree/master/admin#adminaccountsfindall) README (if necessary) to describe how the [http api](http://docs.accountjsonapi.apiary.io/#introduction/query-parameters) `filter` query string may be abstracted into the javascript api in order to to filter `findAll` results on the server side by usernam

[2016-03-16 17:04] ransomw opened #83 "bind null in object construction"
follow up for #19 / #77

replace `bind(this,` with `bind(null,` per [comments](https://github.com/hoodiehq/hoodie-client-account/pull/77/files#r53708199) in `admin/index.js`.

also consider updating object construction elsewhere in the repository with the new pattern if discussion deems appropriate.

[2016-03-17 16:06] #19 closed

[2016-03-21 18:16] finnp opened #85 "Migrate to new Architecture"
part of https://github.com/hoodiehq/hoodie/issues/458

- [x] rename to `hoodie-account-client`
- [x] in `package.json`, set `"name"` to `"@hoodie/account-client"`, and add `"publishConfig": {"access": "public"}`
- [x] find `hoodie-account-client` and replace with `hoodie-account-client`
- [x] do commits as in https://github.com/hoodiehq/hoodie-log/issues/31

Once merged

- [x] deprecate `hoodie-cl

[2016-03-25 22:19] gr2m commented on #85
woop :clap:

[2016-03-25 22:19] #85 closed

[2016-03-26 15:52] gr2m commented on #66
wo00ooohoo000oo :clap: done via #78

That was a hell of a pull request, thanks a lot! And welcome to Hoodie :wave: :dog: I’ve invited you to the Hoodie Contributors team, you should see an invitation on https://github.com/hoodiehq.

Mind us giving you a shout out on Twitter? Would you like to keep contributing to Hoodie?

[2016-03-26 15:52] #66 closed

[2016-03-26 16:11] chrifpa commented on #66
Thanks for the invite!

Not at all :)

Absolutely! Anything specific that needs doing or should I just browse the issues?

[2016-03-26 16:17] gr2m commented on #66
I don’t have anything specific right now, browse around and see if you can find something :) Ping us anytime if you have any questions

[2016-03-26 17:53] chrifpa commented on #83
Hey @ransomw, mind if I do this?

[2016-03-26 18:00] gr2m commented on #83
first come first served, no need to ask :)

[2016-03-26 18:32] chrifpa commented on #83
Okie dokie 😅

[2016-03-26 22:25] #83 closed

[2016-04-02 03:31] gr2m opened #88 "README: setup instructions"
![welcome-to-open-source-atlanta](https://cloud.githubusercontent.com/assets/39992/13732817/58766428-e960-11e5-8496-c65891ad0835.png)

**This issue is reserved for participants of [Welcome to Open Source, Atlanta](http://www.meetup.com/Jr-Dev-Mentoring/events/228951389/)**.
If it’s still available after April 2nd, it’s all yours :)

---

### :dart: The Goal

Currently, [testing section of this rep

[2016-04-02 17:25] marisalaneous commented on #88
claiming this

[2016-04-02 17:34] marisalaneous commented on #88
pr ready for review

[2016-04-03 01:16] #88 closed

[2016-05-07 20:56] gr2m opened #91 "when signing out with local changes but without a valid session, reject with useful error"
follow up for https://github.com/hoodiehq/hoodie/issues/262

[2016-05-07 20:59] gr2m opened #92 "store createdAt in localStorage.account"
followup for https://github.com/hoodiehq/hoodie/issues/282

pass created at to the sign up request, so the server can store createdAt and a separate signedUpAt timestamp

[2016-05-07 21:15] gr2m opened #93 "Implement NotFoundError for hoodie.account.signIn"
follow up for https://github.com/hoodiehq/hoodie-account-client#accountsignin

[2016-05-12 15:13] codyzu commented on #75
@gr2m
from the issue description (5th checkbox)

Why `DELETE /session`? I'm missing a detail or this is a copy/paste issue? Can you clarify for me :-)

[2016-05-12 15:34] gr2m commented on #75
doesn’t make much sense to me, probably a copy&paste issue, ignore it :) Sorry for the confusion

[2016-05-15 14:21] gr2m commented on #75
I’ll take this over from Cody, we discussed it

[2016-05-15 15:16] gr2m commented on #75
Pull Request is here: https://github.com/hoodiehq/hoodie-account-client/issues/94 – if you could review that’d be ace. If things look good, comment with `LGTM` 👌

[2016-05-15 20:48] #75 closed

[2016-05-21 18:01] courajs opened #95 "More high-level admin documentation"
- What are [sessions](https://github.com/hoodiehq/hoodie-account-client/tree/master/admin#adminsessionsadd)? What do I use them for?
- What are [admin requests](https://github.com/hoodiehq/hoodie-account-client/tree/master/admin#adminrequestsadd)?
- What are [tokens](https://github.com/hoodiehq/hoodie-account-client/tree/master/admin#adminaccounttokensadd)?
- What are [roles](https://github.com/ho

[2016-05-22 00:54] ransomw commented on #95
i suppose these things aren't as well documented by hoodie for two reasons:

* they're under development (so subject to change)

* they're common themes across web apps.

django, for example, has excellent documentation of [sessions](https://docs.djangoproject.com/en/1.9/topics/http/sessions/), [admin actions](https://docs.djangoproject.com/en/1.9/ref/contrib/admin/actions/), and [groups](https://

[2016-05-22 14:28] gr2m commented on #95
Sorry this is all in the flux, better documentation is lucking, but let me give this a spin.

For now, `hoodieAdmin.sessions` only support the `add` method, because CouchDB keeps no state of sessions, so things like `hoodieAdmin.sessions.findAll()` or `hoodieAdmin.sessions.on("remove", handler)` cannot be implemented at this time.

`hoodieAdmin.sessions.add({username: 'courajs'})` allows us is to

[2016-05-22 17:36] courajs commented on #95
Awesome! Chatting with @gr2m I also asked how you use the sessions generated by `sessions.add()`. Essentially it's a low-level primitive, so that isn't really determined yet. You could perhaps write a function to place the sessionId into localStorage, "taking over" that session. Or you could perhaps use it to create a valid session in another browser to have your admin & user-specific sessions at

[2016-05-22 17:49] gr2m commented on #95
as a side note, we do not use cookies but send session ids in request headers, so you can have several sessions at the same time in the same browser. For example you can be signed in as an admin and as a user, which is why we can put the admin dashboard at `/hoodie/admin` on the same domain, without interfering with an existing user session

[2016-05-22 18:09] courajs commented on #95
Good to know 😁

[2016-05-28 17:46] courajs opened #96 "admin.accounts.find/update/remove(object)"
[`Find`][find], [`update`][update], and [`remove`][remove] are documented as accepting an object with an `id`, `username`, or `token` property, but currently only work when passed a string id.
When passed an object they mistakenly try to `GET` `http://localhost:4200/hoodie/account/api/accounts/[object%20Object] `

[find]: https://github.com/hoodiehq/hoodie-account-client/tree/master/admin#adminacc

[2016-05-29 20:35] gr2m commented on #96
Great catch! That would make a great starter issue for https://github.com/hoodiehq/camp/issues :) Anyone feel free to go ahead and create one, otherwise I’ll get back to it as soon as I can

[2016-05-29 23:11] courajs commented on #96
I'd enjoy creating my first starter issue 😀

How do we find a user by username? I couldn't figure it out from an (admittedly quick) look at `hoodie-account-server`.

Same for token. What are the tokens, and where do they come from?

We could also keep it super short and only add the `.id` option in the starter issue. Or do just id and username if the token is more complicated or not supported yet

[2016-05-30 03:30] gr2m commented on #96
Tokens are currently out of scope. They can later be used for one-time logins, e.g. for password resets.

This one is actually tricky, I get back to it as soon as I can :) If you like we can also work on it together

[2016-05-31 18:30] courajs commented on #96
We could in the meantime add `{id: ...}` support, and throw `NotImplementedError` or similar for username/token. Do you think that kind of thing is worth it in general? To match documentation?

[2016-05-31 18:49] gr2m commented on #96
yeah, we did that in the past. `NotImplementedError` is great, and then ideally add URL to an open issue to fix it :)

[2016-07-14 20:53] gr2m opened #101 "handle unexpected 404s in utils/request.js"
in `utils/request.js`, we expect `response.body` to be an object with a `errors` array property. In some circumstances there might be an  issue with that, and we should add a check if `response.body.errors` exists and if it doesn’t, `response.body` can be a string like `Not found: /hoodie/account/api/session/account`.

[2016-07-14 20:54] gr2m commented on #101
It should probably return a generic connection error saying that the account backend cannot be reached, as clearly the server does not respond as expected

[2016-07-20 18:57] gr2m opened #105 "account.profile.get() should fallback to {} when signed in"

[2016-07-20 20:13] gr2m opened #107 "include profile in signIn / signOut / fetch response"
If I want to get my profile data I have to do two calls

[code]

Our [JSON API](http://docs.accountjsonapi.apiary.io/#reference/current-user/session/sign-in) supports the `?include` parameter for all requests, so we could do two things

I would suggest to  `include` option to signIn / signOut methods (we already do this for some of the [admin API](https://github.com/hoodiehq/hoodie-account-client/

[2016-07-20 21:59] #105 closed

[2016-07-22 02:24] gr2m opened #108 "hoodie.account.fetch() does not store response in localStorage"
this is odd, I was sure I had it fixed ¯\\\_(ツ)\_/¯ I’ll look into it

[2016-07-22 06:40] #108 closed

[2016-07-22 23:36] gr2m opened #110 "if not signed in, hoodie.account.destroy() should still work and delete all user’s data"

[2016-07-25 17:05] gr2m commented on #107
As suggested in #111 I rather tend to always include the `.profile` property in all the things for sake of simplicity.

[2016-08-31 18:38] gr2m opened #115 "hoodie.account.signUp({username}) does not lowercase username"
@rmehner is already working on it

[2016-09-02 07:13] MattCed opened #116 "Signing out and in uses wrong store URL"
I have an application with several users on the same device, using couchDB as database.
When i signOut from one account and then signIn with another, hoodie tries to use a URL associated with the first account to fetch data, thus resulting in an authentication error.
I have isolated the problem by writing some console commands as follows:
(I tried the same with a new application using only Pouch a

[2016-09-02 16:35] MattCed commented on #116
Workaround. If I reload the page with location.reload() after signing in with a new user hoodie start to use the correct URL, but it is not a very elegant solution.

[2016-09-02 17:00] gr2m commented on #116
@MattCed the problem here is not that you sign out and back into the same account, but you sign out, signup for a new account, sign in to the new account, and it wrongly tries connects to the database of the first user, right?

[2016-09-02 17:54] MattCed commented on #116
Yes, That is correct. And after that the wrong backend URL is used every time I switch account. When that happens it is not possible to signOut anymore. If I restart the app I am automatically logged in again though and it works fine until I switch account again.

[2016-09-02 18:13] gr2m commented on #116
Thanks a lot, I’ll have a look into it!

[2016-09-03 00:32] gr2m commented on #116
This issue was resolved via https://github.com/hoodiehq/hoodie-store-client/releases/tag/v5.0.3. Can you update to the latest hoodie? Version [23.3.0](https://github.com/hoodiehq/hoodie/releases/tag/v23.3.0) or above should work, the latest is v23.3.3. If the error still persists, try to `rm .hoodie/client.js` to delete the cached hoodie client, but it should do that automatically if it detects up

[2016-09-03 06:03] MattCed commented on #116
Thanks a lot. I actually used 23.3.3, or rather I thought i did, but when I went into reset.js I noticed that the reset() function was the old one. What happened was that I changed the name of my main project directory in June, but some of the package.json files in node_modules/@hoodie... contained absolute paths so the files were not updated in the correct place. So according to npm I was using 2

[2016-09-03 15:29] gr2m commented on #116
Glad we figured it out :)

[2016-09-03 15:29] #116 closed

[2016-09-07 13:14] MattCed commented on #115
Noticed a related problem.
If I have a user {username: "www", password: "www} and then do
hoodie.account.update({username: "Cap"}).then....

I can no longer sign in. Not with www, cap or Cap

[2016-09-07 22:20] gr2m commented on #115
thanks Matt!

[2016-09-22 21:51] #91 closed

[2016-09-22 23:13] thomasjinlo commented on #92
me!

[2016-09-22 23:18] gr2m commented on #92
@thomasjinlo I’ve seen the other day that we don’t actually store `createdAt` in localstorage yet. You can see it when you open https://tracker.hood.ie/ and then check the value of `localStorage.account`, it’s something like `"{"id":"iqfmlp8"}"`, but besides the `"id"` there should also be the `"createdAt"` timestamp. I thought we had that already but maybe it got lost somewhere? Do you want to lo

[2016-09-25 02:55] kkchu791 commented on #93
me!

[2016-09-26 04:11] gr2m commented on #93
All yours :) Please let me know if you have any questions, I’m happy to help to get you started with it

[2016-09-28 17:49] thomasjinlo commented on #110
Hello, I'm thinking about tackling this issue. It occurs to me that if a user is not signed in the session should be invalid, thus it makes sense not to send a [delete request](https://github.com/hoodiehq/hoodie-account-client/blob/master/lib/destroy.js#L13-#L32). Would wrapping the request in a conditional which checks session validity be a good approach? Thanks!

[2016-09-29 19:37] gr2m commented on #110
All yours @thomasjinlo 👍 By the way don’t forget to sign up for https://hacktoberfest.digitalocean.com ;)

I would suggest we check with `.isSignedIn()`. If it returns false, don’t send the request, do as if id would have been successful

[2016-09-29 21:47] thomasjinlo commented on #110
Thanks so much :)

[2016-10-08 03:43] #110 closed

[2016-10-10 03:32] thomasjinlo commented on #101
Hey I would like to tackle this issue and was looking into this. I was wondering if there is a way to reproduce this error message?

[2016-10-10 04:08] gr2m commented on #101
Hey @thomasjinlo, unfortunately not, it’s been a while. You could probably simulate it with a test in which you mock a server response. Problem are these lines: https://github.com/hoodiehq/hoodie-account-client/blob/9b22171/utils/request.js#L26-L29

We don’t check if `response.body.errors` actually exists.

[2016-10-15 21:33] gr2m commented on #92
@thomasjinlo are you still looking into this one?

[2016-11-26 08:30] Sticksword commented on #115
asked in Slack but will also leave the message here for reference.

I’m looking at the `sign-up.js` file in `hoodie-account-client/lib`
Can someone explain what `state.validate.call(this, options)` means? in the `hoodie-tracker-app`, the `signUp` method is called with only one parameter but here, it’s exported with 2 parameters
as far as I can tell for #115 (https://github.com/hoodiehq/hoodie-acco

[2016-11-26 16:41] gr2m commented on #115
By default, the `validate` function does nothing. See docs here: https://github.com/hoodiehq/hoodie-account-client#accountvalidate

The idea is that you can can pass in `options.validate` when initialising the `account` API to enforce app-specific rules for your app’s account, e.g. you could enforce that all usernames are email addresses.

This issue is about the problem that `username` must alway

[2016-12-10 14:32] gr2m opened #124 "replace undocumented `pre:{signin,signout}` and `post:{signin,signout}` events with a hook API for `signin` and `signout`"
part of https://github.com/hoodiehq/camp/issues/101

Hoodie client needs to do some asynchronous cross-module initialisation, see https://github.com/hoodiehq/hoodie-client/issues/3. Tradition events did not work for us as we for example need to be able to intercept a signout if the user has local changes and sync did fail.

For a lack of better alternatives, we introduced hidden events that pass `

[2016-12-10 18:59] gr2m opened #127 "options.store.{get,set,unset} & async initialisation"
📋  part of https://github.com/hoodiehq/camp/issues/101

---

As part of our effort to make Hoodie Client compatible with Service Worker and other environments that do not have access to localStorage, we have to make the Account Client compatible with async store APIs. That means we can’t load the current account state synchronously, so this will no longer be possible:

[code]

Instead we will have

[2016-12-11 01:19] gr2m opened #130 "check if user is signed in before sending request in `account.fetch()`"

[2017-01-02 23:52] gr2m commented on #127
this is done

[2017-01-02 23:52] #127 closed

[2017-01-24 22:26] gr2m opened #132 "account.signIn({token})"
currently we only support signing in using `username` and `password`. We already have the logic to add tokens to user accounts on server and to create sessions using them. It’s time we implement the frontend logic to sign in using it :)

[2017-01-25 21:38] #132 closed

[2017-01-31 01:48] gr2m opened #135 "profile.get('foo') returns {} if property does not exist and user is signed in"
To reproduce, you must be signed in, then run

[code]

[2017-02-02 19:56] #135 closed

[2017-02-22 18:21] gr2m opened #137 "account.signOut({ignoreLocalChanges: true})"
There are valid use cases when we want to allow users to be able to clear all data in the browser without sending any requests to the server.

By default, we try to sync all local changes first, then send a request to invalidate the session. If either fails, `account.signOut()` rejects with a request or authorization header.

But

- if user does not care about local changes and is currently offlin

[2017-03-05 19:01] gr2m opened #139 "remove synchronous APIs"
see discussion at https://github.com/hoodiehq/discussion/issues/114

[2017-03-07 12:15] greenkeeper[bot] opened #142 "An in-range update of uglify-js is breaking the build 🚨"
## Version **2.8.8** of [uglify-js](https://github.com/mishoo/UglifyJS2) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-client/compare/greenkeeper%2Fuglify-js-2.8.8">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      uglify-js
    </td>
  </tr>
  <tr>
    <th ali

[2017-03-07 14:41] gr2m commented on #142
seems like a problem with coveralls

[2017-03-07 14:41] #142 closed

[2017-03-08 08:52] greenkeeper[bot] opened #143 "An in-range update of uglify-js is breaking the build 🚨"
## Version **2.8.9** of [uglify-js](https://github.com/mishoo/UglifyJS2) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-client/compare/greenkeeper%2Fuglify-js-2.8.9">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      uglify-js
    </td>
  </tr>
  <tr>
    <th ali

[2017-03-08 14:23] rmehner opened #144 "`signin` is not fired when logging in via token"
# How to reproduce

1. Create account for user via `hoodie-account-server`
2. Add login token for user on server:

[code]

3. On the client, register for events:

[code]

4. Sign in via `hoodie-account-client`

[code]

# Expected behaviour

1. User is signed in.
2. See `sign in, woop!` in the console.

# Actual behaviour

1. User is signed in.
2. See nothing in the console.

Note: the event `reaut

[2017-03-08 17:22] gr2m commented on #144
for anyone who wants to work on this. I’m very confident the problem is in this line:
https://github.com/hoodiehq/hoodie-account-client/blob/69cd117f64435921619c8018e7fcd52a03e9a9f3/lib/sign-in.js#L45

It returns true because both `get(state, 'account.username')` and `options.username` are undefined. We should add an additional check if `get(state, 'account.username')` returns undefined we should

[2017-03-08 18:36] gr2m commented on #143
just coveralls. I’ll create an issue to get back to 100% coverage

[2017-03-08 18:36] #143 closed

[2017-03-08 18:37] gr2m opened #145 "💯 test coverage"
Looks like dropped our 100% test coverage at some point and coveralls did not complain about it, until now :)

I’ve reduced coverall’s required coverage to 97% for the time being. Once fixed, we have to get it back to 100%. Setting is at https://coveralls.io/github/hoodiehq/hoodie-account-client/settings

[2017-03-09 08:37] #139 closed

[2017-03-15 01:31] gr2m opened #146 "when fetching account from remote succeeds, we should unset `session.invalid`"
should happen around these lines:

- https://github.com/hoodiehq/hoodie-account-client/blob/22d8c15994a1a1cc9e03ea256e155164965c6bc4/lib/get.js#L43
- https://github.com/hoodiehq/hoodie-account-client/blob/22d8c15994a1a1cc9e03ea256e155164965c6bc4/lib/profile-get.js#L41

if `cachedProperties.session.invalid` is true, then remove it and emit the `reauthenticate` event

[2017-03-25 14:19] ChangJoo-Park commented on #11
:+1:

[2017-03-27 02:04] mbad0la commented on #146
Claiming this one!

[2017-04-05 00:50] greenkeeper[bot] opened #150 "An in-range update of browserify is breaking the build 🚨"
## Version **14.3.0** of [browserify](https://github.com/substack/node-browserify) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-client/compare/greenkeeper%2Fbrowserify-14.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      browserify
    </td>
  </tr>
  <tr

[2017-04-05 16:39] gr2m commented on #150
false positive

[2017-04-05 16:39] #150 closed

[2017-04-11 04:54] #146 closed

[2017-05-25 13:28] espy opened #154 "Prevent signIn/Up if already signed in (session exists)"
Currently, if the previous user did not explicitly sign out, another existing user can sign in, and will inherit the previous user’s local data. It will become part of the second user’s data, and will be synced to the server and other devices. This is Not Exactly Ideal™ :D

## Steps to reproduce

### Start a hoodie server

In an empty directory, `$ npm init -y && npm i --save hoodie`. In the `pack

[2017-05-25 19:52] gr2m commented on #144
Actually, we should not compare usernames at all :) Instead, we should compare the user account id. So the if block would look something like this

[code]

Because for one not all user accounts will have usernames and besides that a username could have changed, but we would still like a user to reauthenticate

[2017-05-26 15:51] gr2m opened #156 "signIn() does not store the roles property"
we currently selectively read out the username only, see https://github.com/hoodiehq/hoodie-account-client/blob/d3f86.

Ideally we should implement this more generic, there are also properties like `createdAt`, `signedUpAt`, `updatedAt` and maybe more in future. But I wouldn't mind to take a PR to fix the roles issue first and do a more generic solution later

[2017-05-26 16:27] sohini-roy commented on #144
thank you for the description. it was very helpful :)
i would love to work on this issue

[2017-05-31 16:55] #154 closed

[2017-07-05 05:21] gr2m commented on #144
done via https://github.com/hoodiehq/hoodie-account-client/issues/157

[2017-07-05 05:21] #144 closed

[2017-10-17 09:42] amallo opened #161 "account.signOut while offline"
Hi,

First of all I don't know if considered as an issue, you should tell me.

I am working on an offline electron's app and `hoodie` seems to be great for that but

`account.signOut` seems to be rejected with this error

`{"status":0,"name":"unknown","message":"getCheckpoint rejected with "}` while offline,

am I doing wrong thing ?

[2017-10-18 05:22] gr2m commented on #161
I’m sorry I didn’t get to it today. Long day was long ... I did not forget about it, I’ll try again tomorrow. Maybe someone else will be able to help out quicker

[2017-10-18 07:05] amallo commented on #161
Of course no problem ! I hope you'll find something

Here is my `Hoodie`  initialisation
[code]

[2017-10-18 23:46] gr2m commented on #161
thanks a lot, I was able to reproduce the issue 👍 I’ll investigate.
Would you be interested in contributing a fix? I’d help you out to find your way around and also help to figure out the bug and the fix, but always happy to onboard new contributors and empower folks to help themselves in future :)

[2017-10-19 07:39] amallo commented on #161
Nice ! Sure I can try to help to contribute hope I will find my path :)

[2017-10-19 17:35] gr2m commented on #161
great :) I need to give this some thought first but I’ll get back to you next week.

To give you some background already: we have split up Hoodie into many smaller modules, mostly to force us to create self-contained modules with good APIs, documentation, tests but above all to make contribution easier. So now we have logic for `hoodie.account` in this repository while we have logic for `hoodie.st

[2017-11-05 18:40] gr2m commented on #161
I’m sorry I didn’t get back to you yet. I’m heads down with work and preparing http://offlinefirst.org/camp/, but I will get back to you after the event, I promise

[2017-11-13 08:35] dominicbarnes opened #162 "Question: why does sign in omit the session information?"
Currently, the sign in method [explicitly omits `session` on the resolved account object](https://github.com/hoodiehq/hoodie-account-client/blob/9d91f3ed5a76e86aaf5cfde50a757fc2f6f03c9c/lib/sign-in.js#L71). I did not expect this behavior, as I was storing a single `account` reference and using the presence of `session` to determine if the user was "logged in" or not. (`session` is present after `a

[2017-11-14 01:03] gr2m commented on #162
hey @dominicbarnes it’s been a while I’ll have to look up the reason, but I agree it’s confusing at first sight. I _think_ it was to make it coherent with `.signUp()` and `.signOut()`, but maybe there was something else.

You can do a `hoodie.account.get('session')` after the sign in

[2017-11-14 01:10] dominicbarnes commented on #162
@gr2m yeah, that's exactly what I ended up doing :)

[2018-01-23 17:39] gr2m commented on #161
I’m so sorry I didn’t get back to you as promised, things went rollercoster last year :( is this still relevant to you?

[2018-03-04 16:45] greenkeeper[bot] opened #168 "An in-range update of uglify-js is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **3.3.13** of [uglify-js](https://github.com/mishoo/UglifyJS2) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-client/compare/greenkeeper%2Fuglify-js-3.3.

[2018-08-18 18:07] greenkeeper[bot] opened #174 "An in-range update of semantic-release is breaking the build 🚨"
## Version **15.9.9** of **semantic-release** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/hoodiehq/hoodie-account-client/compare/master...hoodiehq:greenkeeper%2Fsemantic-release-15.9.9">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https:/

[2018-08-18 19:09] #174 closed

[2018-08-26 22:31] greenkeeper[bot] opened #175 "An in-range update of semantic-release is breaking the build 🚨"
## Version **15.9.11** of **semantic-release** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/hoodiehq/hoodie-account-client/compare/master...hoodiehq:greenkeeper%2Fsemantic-release-15.9.11">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https

[2018-09-07 17:05] greenkeeper[bot] opened #177 "An in-range update of semantic-release is breaking the build 🚨"
## Version **15.9.13** of **semantic-release** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/hoodiehq/hoodie-account-client/compare/master...hoodiehq:greenkeeper%2Fsemantic-release-15.9.13">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https

[2018-09-12 22:58] greenkeeper[bot] opened #178 "An in-range update of lodash is breaking the build 🚨"
## The dependency [lodash](https://github.com/lodash/lodash) was updated from `4.17.10` to `4.17.11`.

🚨 [View failing branch](https://github.com/hoodiehq/hoodie-account-client/compare/master...hoodiehq:greenkeeper%2Flodash-4.17.11).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

lodash is a direct dependency of this proj

[2018-09-14 23:09] hoodiebot opened #180 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-10-09 05:01] greenkeeper[bot] opened #182 "An in-range update of nock is breaking the build 🚨"
## The devDependency [nock](https://github.com/nock/nock) was updated from `10.0.0` to `10.0.1`.

🚨 [View failing branch](https://github.com/hoodiehq/hoodie-account-client/compare/master...hoodiehq:greenkeeper%2Fnock-10.0.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

nock is a devDependency of this project. It **migh

[2018-10-11 14:43] greenkeeper[bot] opened #183 "An in-range update of tap-min is breaking the build 🚨"
## The devDependency [tap-min](https://github.com/derhuerst/tap-min) was updated from `1.2.2` to `1.3.0`.

🚨 [View failing branch](https://github.com/hoodiehq/hoodie-account-client/compare/master...hoodiehq:greenkeeper%2Ftap-min-1.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tap-min is a devDependency of this proj

[2018-10-31 18:32] greenkeeper[bot] opened #184 "An in-range update of before-after-hook is breaking the build 🚨"
## The dependency [before-after-hook](https://github.com/gr2m/before-after-hook) was updated from `1.1.0` to `1.2.0`.

🚨 [View failing branch](https://github.com/hoodiehq/hoodie-account-client/compare/master...hoodiehq:greenkeeper%2Fbefore-after-hook-1.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

before-after-hook

[2018-11-24 12:05] greenkeeper[bot] opened #186 "An in-range update of npm-run-all is breaking the build 🚨"
## The devDependency [npm-run-all](https://github.com/mysticatea/npm-run-all) was updated from `4.1.3` to `4.1.4`.

🚨 [View failing branch](https://github.com/hoodiehq/hoodie-account-client/compare/master...hoodiehq:greenkeeper%2Fnpm-run-all-4.1.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

npm-run-all is a devDepend

[2018-12-29 22:23] greenkeeper[bot] opened #187 "An in-range update of tape is breaking the build 🚨"
## The devDependency [tape](https://github.com/substack/tape) was updated from `4.9.1` to `4.9.2`.

🚨 [View failing branch](https://github.com/hoodiehq/hoodie-account-client/compare/master...hoodiehq:greenkeeper%2Ftape-4.9.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tape is a devDependency of this project. It **mig

[2019-01-02 20:05] greenkeeper[bot] opened #188 "An in-range update of rimraf is breaking the build 🚨"
## The devDependency [rimraf](https://github.com/isaacs/rimraf) was updated from `2.6.2` to `2.6.3`.

🚨 [View failing branch](https://github.com/hoodiehq/hoodie-account-client/compare/master...hoodiehq:greenkeeper%2Frimraf-2.6.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rimraf is a devDependency of this project. It

[2019-07-05 14:58] greenkeeper[bot] opened #190 "An in-range update of browserify is breaking the build 🚨"
## The devDependency [browserify](https://github.com/browserify/browserify) was updated from `16.2.3` to `16.3.0`.

🚨 [View failing branch](https://github.com/hoodiehq/hoodie-account-client/compare/master...hoodiehq:greenkeeper%2Fbrowserify-16.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

browserify is a devDepende